<ion-content scroll-y="'true'">
  <!--ion-list-header color="light">Vertical Bar Chart</!--ion-list-header-->
  <div class="container" style="margin-top: 80px;">
    <ion-card class="welcome-card">
      <ion-card-header color="primary">
        <ion-card-title>Gestión de cultivos</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Código</ion-label>
                <ion-input type="text"  [(ngModel)]="cultivo.codigo" class=""></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input type="text"  [(ngModel)]="cultivo.nombre" class=""></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Temp. Min</ion-label>
                <ion-input type="number" min="0" step="0.01" [(ngModel)]="cultivo.tempMin" class=""></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Temp. Max</ion-label>
                <ion-input type="number" min="0" step="0.01" [(ngModel)]="cultivo.tempMax" class=""></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Hum. Rel Min</ion-label>
                <ion-input type="number" min="0" step="0.01" [(ngModel)]="cultivo.humRelMin" class=""></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Hum. Rel Max</ion-label>
                <ion-input type="number" min="0" step="0.01" [(ngModel)]="cultivo.humRelMax" class=""></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Hum. Suelo Max</ion-label>
                <ion-input type="number" min="0" step="0.01" [(ngModel)]="cultivo.humSueloMax" class=""></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Hum. Suelo Min</ion-label>
                <ion-input type="number" min="0" step="0.01" [(ngModel)]="cultivo.humSueloMin" class=""></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Kc Inicial</ion-label>
                <ion-input type="number" min="0" step="0.01" [(ngModel)]="cultivo.kcIni" class=""></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Kc Medio</ion-label>
                <ion-input type="number" min="0" step="0.01" [(ngModel)]="cultivo.kcMed" class=""></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Kc Final</ion-label>
                <ion-input type="number" min="0" step="0.01" [(ngModel)]="cultivo.kcFin" class=""></ion-input>
              </ion-item>

              <ion-button size="lg">Guardar</ion-button>

            </ion-col>
          </ion-row>
        </ion-grid>
        <div>
          <table>
            <thead style="background-color: var(--ion-color-primary);">
              <th>Cod.</th>
              <th>Cultivo</th>
              <th>Fecha Ini</th>
              <th>Fecha Fin</th>
              <th>Activo</th>
              <th>Obs</th>
            </thead>
            <tbody>
              <tr *ngFor="let c of cultivos">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
