<ng-container *ngIf="solved; else loading">

  <ion-content class="ion-padding"  class="scroll-bg">
    <div class="container" style="margin-top: 50px !important;">
      <img src="./../../assets/logopucesi.jfif" alt="" class="logo">
      <ion-card class="mt-200">

        <ion-card-content>
          <ion-item>
            <!-- <ion-label position="floating" color="primary">Email</ion-label> -->
            <ion-input type="text" [(ngModel)]="user.username" placeholder="Usuario"></ion-input>
          </ion-item>
          <ion-item>
            <!-- <ion-label position="floating" color="primary">Password</ion-label> -->
            <ion-input type="password"  [(ngModel)]="user.password" class="form-controll" required placeholder="Contraseña"></ion-input>
          </ion-item>
          <ion-button mode="ios" expand="block" class="submit-btn borderR bold" type="submit" (click)="login()" >
              Iniciar sesión
          </ion-button>
         <!--
          <ion-button expand="block" mode="ios" fill="outline" (click)="null" >
            Olvidaste tu contraseña?
          </ion-button>
        --->
        </ion-card-content>
      </ion-card>
    </div>


  </ion-content>
</ng-container>


<ng-template #loading>
  <ion-content>
      <ion-row class="ion-align-items-center full-height">
          <ion-col>
              Cargando...
              <img src="./../../assets//background.jpg">
          </ion-col>
      </ion-row>
  </ion-content>
</ng-template>
