ion-content {
  --background: url(./../../assets/background.jpg);
}
ion-content::part(background) {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
ion-card{
  --background:rgba(255,255,255,0.8)
}
ion-img{
  display: flex;
  width: 100%;
  justify-content: center;
}
ion-img::part(image){
  width: 50%;

}
div.content{
  *{
    text-align: center;
  }
  p.title{
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: #000;
  }
}
div.button-container{
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
}
