
<ion-content fullscreen='true'>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-list>
          <ion-item>
            <ion-img src="./../../assets/images/utn.png"></ion-img>
          </ion-item>
        </ion-list>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="content">
        <h2>
          Universidad Técnica del Norte
        </h2>

        <div>
          <p>Facultad de Ingeniería y Ciencias Aplicadas</p>
        </div>
        <div>
          <p>
            Carrera de Ingeniería en Electrónica y Redes de Comunicación
          </p>
        </div>
        <p>
          Trabajo de Titulación
        </p>
        <p class="title">
          SISTEMA AUTÓNOMO DE MONITOREO Y CONTROL DE CONDICIONES AMBIENTALES EN CULTIVOS VERTICALES HORTÍCOLAS URBANOS MEDIANTE UNA RED DE SENSORES
        </p>
        <p>
          Autor: Cristian Ruiz
        </p>
        <p>
          2021-2022
        </p>
      </div>
      <div class="button-container">
        <ion-button color="tertiary" routerLink="/menu" size="large" shape="round">
          <ion-icon slot="end" name="menu"></ion-icon>
          Menú
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
