<ion-content>
  <div class="menu-items">
    <ion-card routerLink="/control">
      <img src="./../../assets/images/control.png" />
      <ion-card-header>
        <ion-card-title>CONTROL</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card routerLink="/monitoring">
      <img src="./../../assets/images/monitoreo.png" />
      <ion-card-header>
        <ion-card-title>MONITOREO</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  <div class="button-container">
    <ion-button color="tertiary" routerLink="/monitoring" size="large" shape="round">
      <ion-icon slot="end" name="home"></ion-icon>
      Inicio
    </ion-button>
  </div>
</ion-content>
