<!-- Back button with a default href -->
<ion-header>
  <ion-toolbar>
    <div class="title">
      <ion-text>
        <p>Sistema de automatización de invernaderos</p>
      </ion-text>
    </div>

    <ion-buttons slot="end">
      <!--ion-back-button defaultHref="menu"></!--ion-back-button-->
      <ion-button color="primary" [routerLink]="'/login'" shape="round" (click)="refresh()">
        <ion-icon slot="end" name="person-circle-outline" ></ion-icon>
        Iniciar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="'true'">
  <!--ion-list-header color="light">Vertical Bar Chart</!--ion-list-header-->
  <div class="container">
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Monitoreo de {{tab}}</ion-card-title>
        <ion-card-subtitle>{{tab}} vs hora (HH:mm:ss)</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <canvas #Chart></canvas>
      </ion-card-content>
    </ion-card>
  </div>

  <!--ion-card class="welcome-card">
    <ion-card-content>

      <ion-button color="success"  shape="round" (click)="refresh()">
        <ion-icon slot="end" name="refresh"></ion-icon>
        Refrescar
      </ion-button>
    </ion-card-content>
  </!--ion-card-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="changeTab('humedads')">
        <ion-icon name="water"></ion-icon>
        <ion-label>Hum. Suelo</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="changeTab('temperatura')">
        <ion-icon name="thermometer"></ion-icon>
        <ion-label>Temperatura</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="changeTab('humedadr')">
        <ion-icon name="snow"></ion-icon>
        <ion-label>Hum. Relativa</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
