div.button-container{
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
}


div.container{
  height: 100%;
  width:100%;
  align-items: center;
  display: block;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 80px !important;
  ion-card-content{
    width: 100%;
    canvas{
      width: 100% !important;
      height: 50% !important;
    }
  }
}

ion-toggle{
  --background: #ddd;
  --background-checked: #ddd;
  --handle-background: #eb7769;
  --handle-background-checked: #95c34e;
}
