<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      Temperatura: {{nodo.temperatura}}
    </ion-item>
    <ion-item>
      Humedad: {{nodo.humedad}}
    </ion-item>
    <ion-item>
      Luz: {{nodo.luz}}
    </ion-item>
    <ion-item>
      Humedad Del Suelo: {{nodo.humedadDelSuelo}}
    </ion-item>
  </div>

  <section class="chart-wrapper">
    <canvas #barChart></canvas>
 </section>


 <section class="chart-wrapper">
    <canvas #pieChart></canvas>
 </section>


 <section class="chart-wrapper">
    <canvas #lineChart></canvas>
 </section>

</ion-content-->

<ion-content>
  <ion-item>
      Temperatura: {{nodo.temperatura}}
    </ion-item>
    <ion-item>
      Humedad: {{nodo.humedad}}
    </ion-item>
    <ion-item>
      Luz: {{nodo.luz}}
    </ion-item>
    <ion-item>
      Humedad Del Suelo: {{nodo.humedadDelSuelo}}
    </ion-item>
  <ion-list-header color="light">Vertical Bar Chart</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle>
      <ion-card-title>Game of Thrones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Temperatura</ion-card-subtitle>
      <ion-card-title>C°</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #temperaturaLineChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
